@page "/"
@inject NotificationService NS

<h1>顧客管理データベース</h1>

<ul class="list-group">
    <li class="list-group-item">TODO: ToggleNotifications</li>
    <li class="list-group-item">TODO: Menu Controls</li>
</ul>