@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">

            <p>This is a BLAZOR WebAssembly page hosted on AWS Amplify, sending API calls to an API Gateway to invoke Lambda Functions and do CRUD operations on a DynamoDB.</p>
            @Body
        </div>
    </div>
</div>
